.emoticon-control
  span(ng-repeat="emoticon in EmoticonControlController.emoticons")
    i.fa.fa-2x.emoticon(class="{{emoticon.icon}}" ng-click="EmoticonControlController.callback({emoticon: emoticon})")