.emoticon-control {
  margin-top: 15px;

  .emoticon {
    margin: 3px;
    .mixin-transition(all 0.3s linear);
    .mixin-scale-3d(1, 1, 1);
    cursor: pointer;
    color: @darker-accent;

    &:hover {
      .mixin-scale-3d(1.7, 1.7, 1);
      color: @accent;
    }
  }
}