html(ng-app="asapp")

  head

    include partials/head.partial.jade

    link(rel="stylesheet" type="text/css" href="#{hrefs.stylesheets}")

  body

    .stage

    div(asapp-spinner)

    .ng-cloak.main-container(asapp-spinner-blur)
      include modules/main-view/main-view.partial.jade

    script(src="#{hrefs.scripts}")
    p#templates(style="display: none;") !{templates}