.stage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('common/images/forest-blur-overlay.jpeg');
  background-size: cover;

  // the cover appears to go over the panel background
  z-index: -1;
}

.accent {
  color: @darker-accent;
}

.ng-cloak {
  display: none !important;
}

.strong {
  font-weight: bold;
}