.mixin-transform-origin(@originX: 0, @originY: 0) {
  -webkit-transform-origin: @originX @originY;
     -moz-transform-origin: @originX @originY;
      -ms-transform-origin: @originX @originY;
       -o-transform-origin: @originX @originY;
          transform-origin: @originX @originY;
}

.mixin-translate-3d (@x, @y, @z) {
    -webkit-transform: translate3d(@x, @y, @z);
       -moz-transform: translate3d(@x, @y, @z);
        -ms-transform: translate3d(@x, @y, @z);
         -o-transform: translate3d(@x, @y, @z);
            transform: translate3d(@x, @y, @z);
}

.mixin-transform(...) {
  -webkit-transform: @arguments;
     -moz-transform: @arguments;
      -ms-transform: @arguments;
       -o-transform: @arguments;
          transform: @arguments;
}

// .mixin-transition(all 1s ease);
// .mixin-transition(width 1s ease, height 2s ease;);
.mixin-transition(...) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
      -ms-transition: @arguments;
       -o-transition: @arguments;
          transition: @arguments;
}

.mixin-scale-3d (@x, @y, @z) {
    -webkit-transform: scale3d(@x, @y, @z);
       -moz-transform: scale3d(@x, @y, @z);
        -ms-transform: scale3d(@x, @y, @z);
         -o-transform: scale3d(@x, @y, @z);
            transform: scale3d(@x, @y, @z);
}
