/****  MEDIA QUERIES  ******/

// xs = phone portrait
// sm = phone landscape
// md = tablet
// lg = desktop
// xl screen etc are ok


/* Smartphones (portrait) ----------- */
@phone-portrait: ~"only screen and (max-width : 479px)";

/* Smartphones (landscape) ----------- */
@phone-landscape: ~"only screen and (min-width : 480px) and (max-width : 767px)";

/* Smartphones (portrait and landscape) ----------- */
@phone: ~"only screen and (max-width : 767px)";

/* Phone and tablet ----------- */
@phone-tablet: ~"only screen and (max-width : 991px)";

/* iPads (portrait and landscape) ----------- */
@tablet: ~"only screen and (min-width : 768px) and (max-width : 991px)";

@tablet-plus: ~"only screen and (min-width: 768px)";

/* iPads (landscape) ----------- */
@tablet-landscape: ~"only screen and (min-width : 768px) and (max-width : 991px) and (orientation : landscape)";

/* iPads (portrait) ----------- */
@tablet-portrait: ~"only screen and (min-width : 768px) and (max-width : 991px) and (orientation : portrait)";

/* Only laptop */
@laptop: ~"only screen and (min-width: 992px) and (max-width: 1199px)";

@desktop: ~"only screen and (min-width : 1200px)";


@desktop-and-laptop: ~"only screen and (min-width : 992px)";

/* Retina displays ---------*/
@retina: ~"only screen and (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)";
