.chatroom-control {

  .chatroom-name {
    // font-weight: bold;
    font-size: 12pt;
    .mixin-transition(color 0.3s linear);
    cursor: pointer;

    &.selected {
      color: @darker-accent;
    }
  }

  .chatroom-count {
    font-size: 12pt;
    font-weight: bold;

  }
}