.chatroom-control
  h4.accent Chatrooms
  div(ng-repeat="chatroom in ChatroomControlController.chatrooms")
    div(ng-click="ChatroomControlController.select(chatroom)" ng-class="{'selected' : ChatroomControlController.selectedChatroom === chatroom.name }").chatroom-name {{chatroom.name}} 
      span.chatroom-count(ng-if="chatroom.unreadCount > 0") ({{chatroom.unreadCount}})