.container.main-view(ng-controller="asapp.main-view.MainviewController as MainviewController")
  .row
    //- heading
    .col-xs-12
      h3.accent ASAPP Javascript Full Stack Systems Architecture Challenge v0.1
    //- loading
    //- TODO

    //- error
    .col-xs-12(ng-if="MainviewController.getChatroomError")
      .alert.alert-danger Oh no! We could not fetch the list of chatrooms!

    //- login section
    .col-xs-12(ng-if="!MainviewController.getChatroomError && !MainviewController.canChat()")
      h3 You are not connected
      button.btn-primary.btn(ng-click="MainviewController.connect()") Connect to chat server
      
    //- main section
    .col-xs-12(ng-if="!MainviewController.getChatroomError && MainviewController.canChat()")
      .row
        .col-xs-12.col-sm-3(asapp-chatroom-control chatrooms="MainviewController.chatrooms" selected-chatroom="MainviewController.selectedChatroom")
        .col-xs-12.col-sm-9(asapp-chat-view current-chatroom="MainviewController.selectedChatroom")
      
