.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: fade(black, 30%);

  // one more than the navbar... WTF bootstrap
  z-index: 1031;

  .spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    .mixin-translate-3d(-50%, -50%, 0);
    display: block;
  }
}

.spinner-blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}