.container-fluid.username-modal
  .row
    .col-xs-12
      h4 ASAPP Javascript Full Stack Systems Architecture Challenge v0.1
      h5 Please login with a username
      .alert.alert-danger(ng-if="UsernameModalController.hasErrorMessage") {{UsernameModalController.errorMessage}}
      form(ng-submit="UsernameModalController.closeModal()")
        .form-group
          input.form-control.enter-name(type="text" ng-model="UsernameModalController.currentUsername" auto-focus)
          button.btn.btn-primary(ng-click="UsernameModalController.closeModal()") Login