.chat-view {
  .chat-input {
    font-family: 'FontAwesome';
  }

  .chat-message-text {
    font-family: 'FontAwesome';
  }

  .chat-messages {
    height: 400px;
    overflow-y: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .chat-message {
    word-wrap: break-word;
  }
}