div.chat-view
  h4.accent Chatroom: {{ChatViewController.currentChatroom}}

  .chat-messages
    div.chat-message(ng-repeat="message in ChatViewController.getMessages()") 
      span.strong {{message.username}}: 
      span.chat-message-text {{message.message}}

  form(ng-submit="ChatViewController.sendCurrentMessage()")
    input.form-control.chat-input(ng-model="ChatViewController.currentMessage" auto-focus maxlength="200")

    div(asapp-emoticon-control callback="ChatViewController.addEmoticon(emoticon)")