title ASAPP Real-Time Server
base(href="/")
//- if (environment !== 'development')
  script.optimizely(src="//cdn.optimizely.com/js/2314781930.js")
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')